include ../navbar/mixin

doctype html
html
  head
    script(src='/jquery/jquery' + sd.JS_EXT)
    script(src='/bootstrap/js/bootstrap' + sd.JS_EXT)
    link(rel='stylesheet', href='/bootstrap/css/bootstrap' + sd.CSS_EXT)

    title Human Genetics Informatics
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/assets/main' + sd.CSS_EXT)
  body
