include ../navbar/mixin

doctype html
html
  head
    title Human Genetics Informatics
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet',    href='/assets/main' + sd.CSS_EXT)
    link(rel='stylesheet',    href='/bootstrap/css/bootstrap' + sd.CSS_EXT)
  body
