include ../navbar/mixin

doctype html
html
  head
    title Human Genetics Informatics
    link(rel = 'shortcut icon', href = baseURL + '/favicon.ico')
    link(rel = 'stylesheet',    href = baseURL + '/assets/main' + sd.CSS_EXT)
    link(rel = 'stylesheet',    href = baseURL + '/bootstrap/css/bootstrap' + sd.CSS_EXT)
    link(rel = 'stylesheet',    href = baseURL + '/bootstrap/css/bootstrap-theme' + sd.CSS_EXT)
  body
