//- AGPLv3 or later
//- Copyright (c) 2014 Genome Research Limited

include ../../../components/marginals/header
mixin navbar('Contact')

#content.container
  include contactContent

include ../../../components/marginals/footer
