//- AGPLv3 or later
//- Copyright (c) 2014 Genome Research Limited

include ../../../components/marginals/header
mixin navbar('Projects')

#content.container
  include projectsContent

include ../../../components/marginals/footer
