@import 'nib'
@import 'sanger'

.header
  font-family: 'Audiowide', cursive

.navbar .nav > li > a
  color: sanger-lightblue-rgb

.navbar .nav .active > a, 
.navbar .nav .active > a:hover
  color: white


/*
 * Modified from http://charliepark.org/bootstrap_buttons with settings:
 * Puffiness: 14
 * background-image gradient now using nib
 */
button-rules-puffi-14(hue, saturation, lightness, btn-grad-top, btn-grad-bot, lightness-dark, color, text-shadow)
  background-color: hsl(hue, saturation, lightness) !important
  background-repeat: repeat-x
  background-image: linear-gradient(top, btn-grad-top, btn-grad-bot)
  border-color: btn-grad-bot btn-grad-bot hsl(hue, saturation, lightness-dark)
  color: color !important
  text-shadow: text-shadow
  -webkit-font-smoothing: antialiased


.btn
  button-rules-puffi-14(sanger-lightblue-hue, sanger-lightblue-saturation, sanger-lightblue-lightness, sanger-lightblue-btn-grad-top, sanger-lightblue-btn-grad-bot, sanger-lightblue-lightness-dark, sanger-lightblue-color, sanger-lightblue-text-shadow)

.btn-primary
  button-rules-puffi-14(sanger-darkblue-hue, sanger-darkblue-saturation, sanger-darkblue-lightness, sanger-darkblue-btn-grad-top, sanger-darkblue-btn-grad-bot, sanger-darkblue-lightness-dark, sanger-darkblue-color, sanger-darkblue-text-shadow)

.btn-info
  button-rules-puffi-14(sanger-mediumblue-hue, sanger-mediumblue-saturation, sanger-mediumblue-lightness, sanger-mediumblue-btn-grad-top, sanger-mediumblue-btn-grad-bot, sanger-mediumblue-lightness-dark, sanger-mediumblue-color, sanger-mediumblue-text-shadow)


