LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so

<Location /path/to/token>
  # Pass environment variables upstream
  RequestHeader set X-EPPN            %{eppn}e
  RequestHeader set X-Shib-Session-ID %{Shib-Session-ID}e

  ProxyPass         http://localhost:4000 retry=0
  ProxyPassReverse  http://localhost:4000
</Location>
