LoadModule cgi_module modules/mod_cgi.so
LoadModule cgi_alias  modules/mod_alias.so

Alias /path/to/token /path/to/CGI/provider.js
<Location /path/to/token>
  Options +ExecCGI
  AddHandler cgi-script .js

  # These environment variables must be set appropriately
  SetEnv KEYFILE  /path/to/private/key
  SetEnv LIFETIME 3600
</Location>
