//- AGPLv3 or later
//- Copyright (c) 2014 Genome Research Limited

include ../../../components/marginals/header
mixin navbar('Home')

#content.container
  include homeContent

include ../../../components/marginals/footer
