.jumbotron
  h1 Human Genetics Informatics
  h2 Project Administration
  p.
    Use these interfaces to enrol projects in HGI systems, control data
    access permissions, request analyses, monitor progress of analyses,
    and archive project results.
  button.btn.btn-primary.btn-lg(type='button') Enrol a project &raquo;
